body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 50px auto;
  }
  h2 {
    text-align: center;
  }
  /* Styling the Auth Form */
  form {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  input {
    display: block;
    margin: 10px 0;
    width: 95%;
    padding: 8px;
  }
  button {
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
/*  Products page*/
 #product-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      padding: 20px;
    }
    .product {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      text-align: center;
    }
    .product img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
    button {
      background-color: #28a745;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button:disabled {
      background-color: #ccc;
    }